<!DOCTYPE html>
<html>
    <head>        
            <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">            
        <link rel="stylesheet" type="text/css" href="../assets/css/home.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        
    </head>
    <body>
        <div class="container">
            <div class="owl-demo">
                <div class="slide-progress"></div>
                <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="../assets/images/xJaggedAlliance-Rage_bg.jpg.pagespeed.ic.jGNQpKLUew.webp" alt="slide">
                </div>
                <div class="item">
                    <img src="../assets/images/x1920x900-13ef0eb-EN-carouselW2-1920x900.jpg.pagespeed.ic.KiheYROPem.webp" alt="slide">
                </div>
                <div class="item">
                    <img src="../assets/images/xKingdomTwoCrowns_bg.jpg.pagespeed.ic.O0XW9Z-PHa.webp" alt="slide">
                </div>
                </div>
            </div>
            <div class="header"><span class="fa fa-gamepad product-type-icon"></span> HOME</div>
            <div class="section">
                <h3><a href="#">FEATURED GAMES</a></h3>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="see-more"><a href="#">See More</a></div>
            </div>
            <div class="section">
                <h3><a href="#">EXCLUSIVE GAMES</a></h3>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="see-more"><a href="#">See More</a></div>
            </div>
            <div class="section">
                <h3><a href="#">NEW RELEASES</a></h3>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="see-more"><a href="#">See More</a></div>
            </div>
            <div class="section">
                <h3><a href="#">COMING SOON</a></h3>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="see-more"><a href="#">See More</a></div>
            </div>
            <div class="section">
                <h3><a href="#">BEST SELLERS</a></h3>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="game-item">
                    <img class="game-image" src="http://placehold.jp/150x200.png">
                    <br>
                    <h5>Pubg Game</h5>
                    <span class="add-to-cart">100$ <i class="fas fa-cart-plus"></i></span>
                </div>
                <div class="see-more"><a href="#">See More</a></div>
            </div>
            <div class="footer">
                <h4>FOR GAMERS. BY GAMERS. ™</h4>
                <p>Copyright © 2018 Razer Inc. All rights reserved.</p>
            </div>
        </div>

        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/owl.carousel.min.js"></script>
       <script>
            initSlider();

            function initSlider() {
            $(".owl-carousel").owlCarousel({
                items: 1,
                loop: true,
                autoplay: true,
                onInitialized: startProgressBar,
                onTranslate: resetProgressBar,
                onTranslated: startProgressBar
            });
            }

            function startProgressBar() {
            // apply keyframe animation
            $(".slide-progress").css({
                width: "100%",
                transition: "width 3000ms"
            });
            }

            function resetProgressBar() {
            $(".slide-progress").css({
                width: 0,
                transition: "width 0s"
            });
            }
        </script>
    </body>
</html>