<!DOCTYPE html>
<html>
	<head>
		<title>Little Nightmares Game | Bears Videogames Store</title>
		<body>
			<h2 id="GameTitle">Little Nightmares Game</h2>
			
			<img id="CoverPhoto" src="../assets/images/gameCover.png" alt="Cover" style="width:280px;height:390px;">
			
			<div class="Buy">
				<h2 class="price">29,99€</h2>
				<h2 class="cart"><a href=""><img src="..\assets\images\cart.png" style="width:65px;height:50px;">Add to cart</a></h2>
			</div>

			<div class="path">
				<ul style="list-style-type: none;">
					<li><a href="">Home</a></li>
					<li><a href="">Games</a></li>
					<li><a href="">Adventure</a></li>
				</ul>
			</div>

			<div class="previewSlideshow">
				<div class="sampleImage">
					<iframe src="https://www.youtube.com/watch?v=aOadxZBsPiA"></iframe>
				</div>
				<div class="sampleImage">
					<img src="../assets/images/sample1.jpg">
				</div>
				<div class="sampleImage">
					<img src="../assets/images/sample2.jpg">
				</div>
				<div class="sampleImage">
					<img src="../assets/images/sample3.jpg">
				</div>
				<div class="sampleImage">
					<img src="../assets/images/sample4.jpg">
				</div>
				<div class="sampleImage">
					<img src="../assets/images/sample5.jpg">
				</div>
				<div class="sampleImage">
					<img src="../assets/images/sample6.jpg">
				</div>
				<div class="sampleImage">
					<img src="../assets/images/sample7.jpg">
				</div>
				<div class="sampleImage">
					<img src="../assets/images/sample8.jpg">
				</div>
				<div class="sampleImage">
					<img src="../assets/images/sample9.jpg">
				</div>
				<div class="sampleImage">
					<img src="../assets/images/sample10.jpg">
				</div>
				<div class="sampleImage">
					<img src="../assets/images/sample11.jpg">
				</div>
				<div class="sampleImage">
					<img src="../assets/images/sample12.jpg">
				</div>

				<a id="prev" onclick="plusSlides(-1)">&#10094;</a>
  				<a id="next" onclick="plusSlides(1)">&#10095;</a>
				
				<script src="slideshow.js"></script>
			</div>

			<div class="info">
				<ol id="infoPoints" style="list-style-type:none;">
					<li>Language:</li>
					<li>Genre:</li>
					<li>Platform:</li>
					<li>Number of Players:</li>
					<li>Released Date:</li>
					<li>Publisher:</li>
				</ol>
				<ol id="infoDetails" style="list-style-type:none;">
					<li>English</li>
					<li><a href="">Adventure</a></li>
					<li>Windows</li>
					<li>1</li>
					<li>07/06/2017</li>
					<li>BANDAI NAMCO Entertainment</li>
				</ol>
			</div>

			<div class="share">
				<h2 id="shareTitle"><img src="..\assets\images\share.png" style="width:65px;height:65px;">Share</h2>
				<ul style="list-style-type: none;">
					<li><a href=""><img src="..\assets\images\facebook.png" alt="Facebook" style="width:65px;height:65px;"></a></li>
					<li><a href=""><img src="..\assets\images\twitter.png" alt="Twitter" style="width:65px;height:65px;"></a></li>
				</ul>
			</div>

			<div class="AboutGame">
				<h2 id="aboutTitle">About This Game</h2>
				<p id="aboutDetails"><strong>IMMERSE YOURSELF IN LITTLE NIGHTMARES, A DARK WHIMSICAL TALE THAT WILL CONFRONT YOU WITH YOUR CHILDHOOD FEARS!</strong>
				Help Six escape The Maw – a vast, mysterious vessel inhabited by corrupted souls looking for their next meal.
				Unveil all the secrets in a parallel escape story where you play as the Runaway Kid, another prisoner looking for a way out of this place of misfortune. On his journey, The Kid will explore hidden parts of The Maw offering a different perspective on Six’s adventures.</p>
			</div>

			<div class="SystemRequirements">
				<h2 id="SystemRequirementsTitle">System Requirements</h2>
				<h4 id ="MinimumRequirementsTitle">Windows - Minimum</h4>
				<ul id="minimumRequirements" style="list-style-type:square;">
					<li>OS: Windows 7, 64-bit</li>
					<li>Processor: Intel CPU Core i3</li>
					<li>Memory: 3 GB RAM</li>
					<li>Hard Drive: 10 GB available space</li>
					<li>Graphics: Nvidia GTX 460</li>
					<li>DirectX: Version 11</li>
					<li>Network: High speed internet conenction</li>
				</ul>
				<h4 id ="RecommendedRequirementsTitle">Windows Recommended</h4>
				<ul id="RecomendedRequirements" style="list-style-type:square;">
					<li>OS: Windows 7, 64-bit</li>
					<li>Processor: Intel CPU Core i7</li>
					<li>Memory: 8 GB RAM</li>
					<li>Hard Drive: 10 GB available space</li>
					<li>Graphics: Nvidia GTX 660</li>
					<li>DirectX: Version 11</li>
					<li>Network: High speed internet conenction</li>
				</ul>
			</div>

			<div class="copyrights">
				<p>© Little Nightmares™ & ©BANDAI NAMCO Entertainment Europe. BANDAI NAMCO Entertainment. Tarsier Studios</p>
			</div>

			<div class="Buy">
				<h2 class="price">29,99€</h2>
				<h2 class="cart"><a href=""><img src="..\assets\images\cart.png" style="width:65px;height:50px;">Add to cart</a></h2>	
			</div>

		</body>
	</head>
</html>