<!DOCTYPE html>
<html>
	<head>
		<title>Little Nightmares Game | Bears Videogames Store</title>
		<link rel="stylesheet" href="../assets/css/SelectedGameStyle.css">
		<body style="font-family: verdana;">
  			<div class="path">
				<a href="">Home</a>
				<a href="">Games</a>
				<a href="">Adventure</a>
			</div>

  			<div class="Buy1">
				<h2 class="price">29,99€</h2>
				<h2 class="cart"><a href=""><img src="..\assets\images\cart.png" style="width:25px;height:20px;">Add to cart</a></h2>
			</div>

			<div class="content">
				
				<div class="CoverPhoto">
					<img src="../assets/images/gameCover.png" alt="Cover">
				</div>
			
				<h2 class="GameTitle">Little Nightmares Game</h2>
			
				<div class="previewSlideshow">
					<div class="sampleImage">
						<img src="../assets/images/sample1.jpg" style="width: 90%;">
					</div>
					<div class="sampleImage">
						<img src="../assets/images/sample2.jpg" style="width: 90%;">
					</div>
					<div class="sampleImage">
						<img src="../assets/images/sample3.jpg" style="width: 90%;">
					</div>
					<div class="sampleImage">
						<img src="../assets/images/sample4.jpg" style="width: 90%;">
					</div>
					<div class="sampleImage">
						<img src="../assets/images/sample5.jpg" style="width: 90%;">
					</div>
					<div class="sampleImage">
						<img src="../assets/images/sample6.jpg" style="width: 90%;">
					</div>
					<div class="sampleImage">
						<img src="../assets/images/sample7.jpg" style="width: 90%;">
					</div>
					<div class="sampleImage">
						<img src="../assets/images/sample8.jpg" style="width: 90%;">
					</div>
					<div class="sampleImage">
						<img src="../assets/images/sample9.jpg" style="width: 90%;">
					</div>
					<div class="sampleImage">
						<img src="../assets/images/sample10.jpg" style="width: 90%;">
					</div>
					<div class="sampleImage">
						<img src="../assets/images/sample11.jpg" style="width: 90%;">
					</div>
					<div class="sampleImage">
						<img src="../assets/images/sample12.jpg" style="width: 90%;">
					</div>

					<a id="prev" onclick="plusSlides(-1)">&#10094;</a>
  					<a id="next" onclick="plusSlides(1)">&#10095;</a>
				
				<script src="slideshow.js"></script>
				</div>

				<div class="info">
					<ol id="infoPoints" style="list-style-type:none;">
						<li>Language:</li>
						<li>Genre:</li>
						<li>Platform:</li>
						<li>Number of Players:</li>
						<li>Released Date:</li>
						<li>Publisher:</li>
					</ol>
					<ol id="infoDetails" style="list-style-type:none;">
						<li>English</li>
						<li><a href="">Adventure</a></li>
						<li>Windows</li>
						<li>1</li>
						<li>07/06/2017</li>
						<li>BANDAI NAMCO Entertainment</li>
					</ol>
				</div>

				<div class="share">
					<h2 id="shareTitle">Share</h2>
					<div id="Facebook">
						<img src="..\assets\images\facebook.png" style="width:7%">
						<a href="">Facebook</a>
					</div>
					<div id="Twitter">
						<img src="..\assets\images\twitter.png" style="width:7%;">
						<a href="">Twitter</a>
					</div>
				</div>
				<div class="RightSide">
					<div class="AboutGame">
						<h3 id="aboutTitle">About This Game</h3>
						<div id="aboutDetails">
							<p><strong>IMMERSE YOURSELF IN LITTLE NIGHTMARES, A DARK WHIMSICAL TALE THAT WILL CONFRONT YOU WITH YOUR CHILDHOOD FEARS!</strong></p>
							<p>Help Six escape The Maw – a vast, mysterious vessel inhabited by corrupted souls looking for their next meal.</p>
							<p>Unveil all the secrets in a parallel escape story where you play as the Runaway Kid, another prisoner looking for a way out of this place of misfortune. On his journey, The Kid will explore hidden parts of The Maw offering a different perspective on Six’s adventures.</p>
						</div>
					</div>

					<div class="SystemRequirements">
						<h3 id="SystemRequirementsTitle">System Requirements</h3>
						<div class="minimumRequirementsBlock">
							<h4 id ="MinimumRequirementsTitle">Windows - Minimum</h4>
							<ul id="minimumRequirements" style="list-style-type:square;">
								<li>OS: Windows 7, 64-bit</li>
								<li>Processor: Intel CPU Core i3</li>
								<li>Memory: 3 GB RAM</li>
								<li>Hard Drive: 10 GB available space</li>
								<li>Graphics: Nvidia GTX 460</li>
								<li>DirectX: Version 11</li>
								<li>Network: High speed internet conenction</li>
							</ul>
						</div>

						<div class="recommendedRequirementsBlock">
							<h4 id ="RecommendedRequirementsTitle">Windows Recommended</h4>
							<ul id="RecomendedRequirements" style="list-style-type:square;">
								<li>OS: Windows 7, 64-bit</li>
								<li>Processor: Intel CPU Core i7</li>
								<li>Memory: 8 GB RAM</li>
								<li>Hard Drive: 10 GB available space</li>
								<li>Graphics: Nvidia GTX 660</li>
								<li>DirectX: Version 11</li>
								<li>Network: High speed internet conenction</li>
							</ul>
						</div>
					</div>

					<div class="copyrights">
						<p>© Little Nightmares™ & ©BANDAI NAMCO Entertainment Europe. BANDAI NAMCO Entertainment. Tarsier Studios</p>
					</div>

					<div class="Buy2">
						<h2 class="price">29,99€</h2>
						<h2 class="cart"><a href=""><img src="	..\assets\images\cart.png" style="width:25px;	height:20px;">Add to cart</a></h2>	
					</div>
				</div>
			</div>
		</body>
	</head>
</html>