body {
    background-image: linear-gradient(to bottom, rgba(34,34,34,0) 400px, rgba(34,34,34,0.7) 600px,
							rgba(34,34,34,1) 850px), url("../images/gameBackground.jpg");
	background-size: 100%;
	background-color: #222222;
	background-repeat: no-repeat;
    color: #B3B3B3;
    font-family: arial,sans-serif;
    padding: 0;
    margin: 0;
}

.owl-demo .item img {
    display: block;
    width: 100%;
    height: 500px;
}

a {
    text-decoration: none;
    color: #B3B3B3;
}

.slide-progress {
    width: 0;
    max-width: 100%;
    height: 4px;
    background: #7fc242;
}

.container {
    height: auto;
    width: 80%;
    background: #222222;
    margin-left: 125px;
}

.section {
    background-color: rgba(34,34,34,0);
    padding: 10px;
    width: 95%;
    height: auto;
    margin-left: 80px;
}

.header {
    width: 100%;
    height: 30px;
    background-color: #333;
    padding-top: 5px;
}

.see-more {
    width: 70px;
    height: 20px;
    margin-left: 398px;
    margin-top: 8px;
    padding: 5px;
    color: #fff;
    background-color: #111;
    padding-top: 5px;
}

h5 {
    margin-left: 10px;
    display: inline;
}

.game-item {
    width: 170px;
    height: 245px;
    background-color: #111;
    display: inline-block;
    cursor: pointer;
}

.game-image {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-to-cart {
    margin-left: 4px;
    padding: 5px;
    color: #fff;
    background-color: #44d62c;
}
.fa-gamepad {
    padding-left: 5px;
}

.footer {
    background-color: rgba(34,34,34,0);
    padding: 10px;
    width: 60%;
    height: auto;
    margin-left: 350px;
}

h4 {
    margin-left: 46px;
}